h3
{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: maroon;
}
canvas
{
    animation-name: rayyan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rayyan
{
    from{box-shadow: 1px 1px 38px maroon;}
    to {box-shadow: 1px 1px 38px yellow;}
}
#h1
{
    color: teal;
    font-family: 'Oswald', sans-serif;
}